<header class="flex justify-between items-center gap-4">
  <a href="/" class="text-lg md:text-2xl">Down Detector</a>
  <nav>
    <ul class="flex items-center gap-4">
      <% if (!user) { %>
        <li>
          <a href="/auth/login" class="btn">Login</a>
        </li>
        <% } else { %>
          <li>
            <form action="/auth/logout" method="POST">
              <button type="submit" class="btn--red">Logout</button>
            </form>
          </li>
          <% } %>
    </ul>
  </nav>
</header>