<header class="flex justify-between items-center gap-4">
  <a href="/" class="text-lg md:text-2xl">Down Detector</a>
  <nav>
    <ul class="flex items-center gap-4">
      <li>
        <a href="/auth/login" class="btn">Login</a>
      </li>
    </ul>
  </nav>
</header>